<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.servicedriveruser.mapper.CarMapper">
    <update id="updateCarById" parameterType="com.msb.internalcommon.dto.Car">
        update Car set
                       id=#{id},
                       address=#{address},
                       vehicle_no=#{vehicleNo},
                       plate_color=#{plateColor},
                       seats=#{seats},
                       brand=#{brand},
                       model=#{model},
                       vehicle_type=#{vehicleType},
                       owner_name=#{ownerName},
                       vehicle_color=#{vehicleColor},
                       engine_id=#{engineId},
                       vin=#{vin},
                       certify_date_a=#{certifyDateA},
                       fuel_type=#{fuelType},
                       engine_displace=#{engineDisplace},
                       trans_agency=#{transAgency},
                       trans_area=#{transArea},
                       trans_date_start=#{transDateStart},
                       trans_date_end=#{transDateEnd},
                       certify_date_b=#{certifyDateB},
                       fix_state=#{fixState},
                       next_fix_date=#{nextFixDate},
                       check_state=#{checkState},
                       fee_print_id=#{feePrintId},
                       gps_brand=#{gpsBrand},
                       gps_model=#{gpsModel},
                       gps_install_date=#{gpsInstallDate},
                       register_date=#{registerDate},
                       commercial_type=#{commercialType},
                       fare_type=#{fareType},
                       state=#{state},
                       gmt_create=#{gmtCreate},
                       gmt_modified=#{gmtModified}
             where id=#{id}
    </update>

    <select id="selectAll" resultType="com.msb.internalcommon.dto.Car">
        select * from Car
    </select>
    <!--    用id查询-->
    <select id="selectById" resultType="com.msb.internalcommon.dto.Car">
        select * from Car where id=#{id}
    </select>
    <!--    用map查询-->
    <select id="selectByAny" resultType="com.msb.internalcommon.dto.Car">
        select * from Car
        <where>
            <if test="addressCode != null and addressCode !=''">
                and address_code= #{addressCode}
            </if>
            <if test="addressName != null and addressName != ''">
                and address_name= #{addressName}
            </if>
            <if test="parentAddressCode != null and parentAddressCode !=''">
                and parent_address_code= #{parenetAddressCode}
            </if>
            <if test="addressLevel != null">
                and address_level= #{addressLevel}
            </if>
        </where>
    </select>

    <delete id="removeById">
        delete from Car where id=#{id}
    </delete>

    <insert id="addCar" parameterType="com.msb.internalcommon.dto.Car">
        insert into Car values (   #{id},
                                   #{address},
                                   #{vehicleNo},
                                   #{plateColor},
                                   #{seats},
                                   #{brand},
                                   #{model},
                                   #{vehicleType},
                                   #{ownerName},
                                   #{vehicleColor},
                                   #{engineId},
                                   #{vin},
                                   #{certifyDateA},
                                   #{fuelType},
                                   #{engineDisplace},
                                   #{transAgency},
                                   #{transArea},
                                   #{transDateStart},
                                   #{transDateEnd},
                                   #{certifyDateB},
                                   #{fixState},
                                   #{nextFixDate},
                                   #{checkState},
                                   #{feePrintId},
                                   #{gpsBrand},
                                   #{gpsModel},
                                   #{gpsInstallDate},
                                   #{registerDate},
                                   #{commercialType},
                                   #{fareType},
                                   #{state},
                                   #{gmtCreate},
                                   #{gmtModified}
                               )
    </insert>
</mapper>